.gradient-bg {
    background: linear-gradient(90deg, rgb(243, 164, 79) 0%, rgba(153, 0, 255, 1) 100%);
}

.card {
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, 0.1);
    transition: transform 0.5s, opacity 0.5s, backdrop-filter 0.9s;
}

.card.middle {
    transform: scale(1.5);
    opacity: 20;
    backdrop-filter: blur(1px);
}

.card:not(.middle) {
    opacity: 0.6;
}